.header-menu {
  display: flex; }

.header-name .header-icon {
  display: flex;
  justify-content: center;
  align-items: center; }

.header-name, .header-name .header-title {
  display: flex;
  justify-content: center;
  align-content: center; }

.header-name .header-title {
  flex-wrap: wrap; }

header, .header-name .header-title, .header-menu ul li {
  box-sizing: border-box; }

header {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto; }

header {
  margin-top: 30px;
  padding: 0 10px; }
  header hr:nth-of-type(1) {
    margin-top: 60px; }
  header hr:nth-of-type(2) {
    margin: 5px 0 0 0; }
  header hr {
    border: 0;
    height: 1px;
    background: #d2d2d2; }

.header-name {
  width: 290px; }
  .header-name .header-icon {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: #363636;
    color: white;
    font-family: Raleway-Bold;
    font-size: 40px; }
    .header-name .header-icon .triangle {
      position: absolute;
      left: 80%;
      top: 80%;
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      -moz-transform: scale(0.9999);
      border-width: 0 0 10px 10px;
      border-color: transparent transparent red transparent; }
  .header-name .header-title {
    width: 240px;
    height: 50px;
    padding-left: 10px; }
    .header-name .header-title h2 {
      font-family: Raleway-Bold;
      color: #282828;
      font-size: 21px;
      width: 100%;
      text-transform: uppercase; }
    .header-name .header-title p {
      font-family: RobotoSlab-Regular;
      font-size: 12px;
      color: #7c7c7c;
      width: 100%; }

.header-description {
  font-family: RobotoSlab-Regular;
  font-size: 24px;
  text-align: justify;
  max-width: 780px;
  padding-top: 20px;
  color: #3c3c3c;
  font-size: 15px;
  line-height: 16.8px; }
  @media (min-width: 576px) {
    .header-description {
      font-size: 20px;
      line-height: 22.4px; } }
  @media (min-width: 768px) {
    .header-description {
      padding-top: 45px;
      font-size: 24px;
      line-height: 37.8px; } }

.header-menu {
  width: 100%;
  margin-top: 10px;
  float: right;
  justify-content: flex-end;
  align-items: center; }
  .header-menu ul {
    display: none;
    list-style-type: none; }
    .header-menu ul li {
      font-size: 10px;
      font-family: RobotoSlab-Regular;
      color: black;
      float: right;
      padding: 10px 5px; }
      @media (min-width: 576px) {
        .header-menu ul li {
          padding: 10px 10px;
          font-size: 12px; } }
      @media (min-width: 768px) {
        .header-menu ul li {
          padding: 10px 22.5px;
          font-size: 14px; } }
      .header-menu ul li:hover {
        cursor: pointer;
        opacity: 0.6; }
  .header-menu .fa-bars {
    font-size: 18px;
    padding: 12px;
    background-color: black;
    transform: scale(0.75, 0.75); }
    .header-menu .fa-bars:hover {
      cursor: pointer; }
    @media (min-width: 576px) {
      .header-menu .fa-bars {
        transform: scale(1, 1); } }
