$rBold: Raleway-Bold;
$sRegular: RobotoSlab-Regular;
$sBold: RobotoSlab-Bold;
$triangle: 10px;
$fontColor: rgb(40,40,40);
$grey: rgb(124,124,124);
$lineHeight: 14px;


//Breakpoints
$small: 576px;
$medium: 768px;
$large: 992px;
$extralarge: 1200px;
$slider: 1240px;

@mixin small {
  @media (min-width: $small) {
    @content;
  }
}

@mixin medium {
  @media (min-width: $medium) {
    @content;
  }
}

@mixin large {
  @media (min-width: $large) {
    @content;
  }
}

@mixin extralarge {
  @media (min-width: $extralarge) {
    @content;
  }
}

@mixin slider {
  @media (min-width: $slider) {
    @content;
  }
}

@mixin calc($property, $expression) { 
  #{$property}: calc(#{$expression}); 
} 


%flex {
	display: flex;
}

%flex-center-item {
	display: flex;
	justify-content: center;
	align-items: center;
}

%flex-center-items {
	display: flex;
	justify-content: center;
	align-content: center;
}

%flex-wrap {
	flex-wrap: wrap;
}

%box {
    box-sizing: border-box;
}

%responsiveWidth {
	width: 100%;
	max-width: 1180px;
	margin: 0 auto;
}

@mixin triangle($sizeH, $sizeV, $color){
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    -moz-transform: scale(.9999);
    border-width: 0 0 $sizeH $sizeV;
    border-color: transparent transparent $color transparent;
}




/////// GENERAL ///////
a {

	text-decoration: none;

	.button {
		width: 180px;
		height: 50px;
		//color: darken($grey, 40%);
		color: white;
		border: 1px solid $grey;
		font-family: $sRegular;
		font-size: 12px;
		text-transform: uppercase;
		letter-spacing: 2px;

		background-color: rgba(0,0,0,0.75);

		@include small {
			background-color: rgba(0,0,0,0);
			color: darken($grey, 40%);
		}

		@extend %flex-center-item;
	}	
}


///////// HEADER /////////
header {
	padding: 0 10px;
	@extend %responsiveWidth;
	@extend %box;
	margin-top: 30px;
	margin-bottom: 40px;

	hr:nth-of-type(1) {
		margin-top: 60px;
	}

	hr:nth-of-type(2) {
		margin: 5px 0 0 0;
	}

	hr {
		border: 0;
	    height: 1px;
	    background: rgb(210,210,210);
	}
}

.header-name {

	width: 290px;
	@extend %flex-center-items;

	.header-icon {

		position: relative;
		width: 50px;
		height: 50px;
		background-color: rgb(54,54,54);
		color: white;
		font-family: $rBold;
		font-size: 40px;
		@extend %flex-center-item;

		.triangle {
			position: absolute;
			left: 80%;
			top: 80%;
			@include triangle($triangle,$triangle,red);
		}
	}

	.header-title {

		width: 240px;
		height: 50px; 
		padding-left: 10px;
		@extend %flex-center-items;
		@extend %flex-wrap;
		@extend %box;

		h2 {
			font-family: $rBold;
			color: $fontColor;
			font-size: 21px;
			width: 100%;
			text-transform: uppercase;
		}

		p {
			font-family: $sRegular;
			font-size: 12px;
			color: $grey;
			width: 100%; 
		}
	}

}

.header-description {
	font-family: $sRegular;
	font-size: 24px;
	text-align: justify;
	max-width: 780px;
	padding-top: 20px;
	color: rgb(60,60,60);
	font-size: 15px;
	line-height: $lineHeight*1.2;

	@include small {
		font-size: 20px;
		line-height: $lineHeight*1.6;
	}

	@include medium {
		padding-top: 45px;
		font-size: 24px;
		line-height: $lineHeight*2.7;		
	}

}

.header-menu {
	width: 100%;
	margin-top: 10px;
	float: right;

	@extend %flex;
	justify-content: flex-end;
	align-items: center;

	ul {
		display:none;
		list-style-type: none;
		li {

			a {
				color: darken($fontColor, 20%);
			}

			font-size: 10px;
			font-family: $sRegular;
			float: right;
			padding: 10px 5px;
			@extend %box;

			@include small {
				padding: 10px 10px;
				font-size: 12px;
			}

			@include medium {
				padding: 10px 22.5px;
				font-size: 14px;
			}

			&:hover {
				cursor: pointer;
				opacity: 0.6;
			}
		}
	}

	.fa-bars {
		font-size: 18px;
		padding: 12px;
		background-color: darken($fontColor, 20%);
		transform: scale(0.75, 0.75);

		&:hover {
			cursor: pointer;


		}

		@include small {
			transform: scale(1, 1);
		}
	}

}


///////// SLIDER ////////////

.main-slider {

	position: relative;
	padding: 0 10px;
	margin-bottom: 40px;
	@extend %responsiveWidth;
	@extend %box;

	ul {
		li {
			position: relative;

			.slider-content {
				position: absolute;
				top: 25%;
				right: 15%;

				@include small {
					top: 35%;
				}
				@include medium {
					top: 47.5%;
				}

				@include large {
					top: 57%;
					right: 15%;
				} 

				h2 {
					font-family: $sRegular;
					font-size: 10px;
					text-transform: uppercase;
					letter-spacing: 2.1px;

					@include large {
						font-size: 12px;
					}
				}

				h4 {
					font-family: $rBold;
					text-transform: uppercase;
					font-size: 20px;


					@extend %box;

					@include medium {
						font-size: 26px;
						padding: 7.5px 0 12.5px 0;						
					}

					@include large {
						font-size: 34px;
						padding: 15px 0 25px 0;
					}					
				}
			}
		}
	}

	#slider-next {
		position: absolute;
		top: 50%;
		right: 5%;

		@include small {
			right: 5%;
		}

		@include large {
			right: 2.5%;
		}

		@include slider {
			right: -1.5%;
		}

	}

	#slider-prev {
		position: absolute;
		top: 50%;
		left: 5%;

		@include small {
			left: 5%;
		}

		@include large {
			left: 2.5%;
		}

		@include slider {
			left: -1.5%;
		}

	}

}


/////// FEATURED COLLECTIONS ////////

.collections {

	padding: 0 10px;
	margin-bottom: 10px;
	@extend %responsiveWidth;
	@extend %box;

	.collections-title {
		margin-bottom: 40px;
		justify-content: space-between;
		@extend %flex;

		a {
			font-family: $sRegular;
			font-size: 12px;
			color: $grey;
			font-style: italic;
			text-decoration: underline;
		}

		h2 {
			font-family: $sBold;
			font-size: 18px;	
			color: rgb(54,54,54);		
		}
	}

	.collections-gallery {

		@extend %flex-center-items;
		@extend %flex-wrap;

		@include small {
			flex-wrap: nowrap;
		}

		.gallery-item {
			position: relative;

			&:hover {
				opacity: 0.9;
			}

			.gallery-item-description {
				position: absolute;
				top: 40px;
				left: 25px;

				h4 {
					font-family: $sBold;
					font-size: 14px;
					color: darken($grey, 50%);
					text-transform: uppercase;
					letter-spacing: 2px;
					padding-bottom: 10px;
				}

				a {
					font-family: $sRegular;
					font-size: 12px;
					color: $grey;
					font-style: italic;

					&:hover {
						opacity: 0.75;
					}
				}
			}
		}



		.gallery1 {
			width: 70%;
			max-width: 300px;

			@include medium {
				padding-right: 12.5px;
				width: 100%;
				max-width: initial;
			}

			img {
				width: 100%;
			}
		}

		.gallery2 {
			width: 70%;
			max-width: 300px;

			@include medium {
				padding-left: 12.5px;
				width: 100%;
				max-width: initial;
			}

			.gallery2-1 {
				width: 100%;

				@include medium {
					padding-bottom: 5px;
				}

				img {
					width: 100%;
				}
			}

			.gallery2-2 {
				width: 100%;

				@include small {
					display: flex;
				}
				
				@include medium {
					padding-top: 5px;
				}

				.gallery2-2-1 {
					width: 100%;
					height: auto;

					@include small {
						width: 50%;
					}

					@include medium {
						padding-right: 10px;
					}

					img {
						width: 100%;
					}					
				}

				.gallery2-2-2 {
					width: 100%;
					height: auto;

					@include small {
						width: 50%;
					}

					@include medium {
						padding-left: 10px;
					}
					img {
						width: 100%;
					}
				}
			}
		}
	}
}

.subscribe {

	text-align: center;
	margin-top: 45px;

	@include small {
		margin-top: 90px;
	}

	@extend %responsiveWidth;

	h4 {
		font-family: $sBold;
		font-size: 18px;
		color: darken($grey, 22%);
		text-transform: uppercase;
		margin-bottom: 20px;
	}

	p {
		font-size: 12px;
		font-family: $sRegular;
		color: $grey;
		margin-bottom: 20px;

		@include small {
		margin-bottom: 45px;			
		}
	}

	form {
		margin-bottom: 80px;

		input {
			height: 45px;
			width: 80%;
			max-width: 375px;
			padding-left: 25px;
			font-family: $sRegular;
			font-size: 12px;
			color: $grey;

			@extend %box;

			@include small {
				height: 60px;
			}
		}

		i {
			transform: translateX(-29px);
			font-size: 10px;
			color: $grey;


			&:hover {
				cursor: pointer;
			}
		}
	}

}

.collections {


		hr:nth-of-type(1) {
			margin-top: 60px;
		}

		hr:nth-of-type(2) {
			margin: 5px 0 0 0;
		}

		hr {
			border: 0;
		    height: 1px;
		    background: rgb(210,210,210); 
		}

}


////////// POPULAR PRODUCTS ////////

.popular-products {

	padding: 0 10px;
	text-align: center;

	@extend %responsiveWidth;
	@extend %box;

	.products-title {
		h2 {
			font-family: $sBold;
			font-size: 18px;
			color: darken($grey, 22%);
			text-transform: uppercase;
			margin: 50px 0 15px 0;
		}	

		p {
			font-size: 12px;
			font-family: $sRegular;
			color: $grey;
			margin-bottom: 60px;
		}
	}

	hr:nth-of-type(1) {
		margin-top: 60px;
	}

	hr:nth-of-type(2) {
		margin: 5px 0 0 0;
		margin-bottom: 70px;
	}

	hr {
		border: 0;
	    height: 1px;
	    background: rgb(210,210,210); 
	}

}


.products-list {

	@extend %flex-center-items;
	@extend %flex-wrap;

	@include large {
		.product-item:nth-of-type(2){
			margin-right: 60px;
		}
		.product-item:nth-of-type(4){
			margin-right: 60px;
		}
		.product-item:nth-of-type(1){
			margin-left: 60px;
		}
		.product-item:nth-of-type(3){
			margin-left: 60px;
		}
	}

	@include extralarge {
		.product-item:nth-of-type(2){
			margin-right: 0;
		}
		.product-item:nth-of-type(4){
			margin-right: 0;
		}
		.product-item:nth-of-type(1){
			margin-left: 0;
		}
		.product-item:nth-of-type(3){
			margin-left: 0;
		}		
	}


	.product-item {
		width: 75%;
		max-width: 280px;



		@include small {
			padding: 0 30px 10px 30px;
		}

		@include extralarge {
			padding: 0 13px 0 0;

			&:nth-of-type(4){
				padding-right: 0;
			}
		}

		img {
			width: 100%;
		}


		.product-name {
			margin-top: 25px;

			@extend %flex;
			justify-content: space-between;

			p {
				font-size: 14px;
				font-family: $sBold;
				color: darkeen($grey, 30%);
			}

			i {
				font-size: 12px;
				//color: #fbaf5d;
				color: #b0b0b0;

				&:hover {
					cursor: pointer;
				}
			}
		}

		.product-price {
			font-family: $sRegular;
			font-size: 14px;
			color: darkeen($grey, 25%);
			text-align: left;
			margin-top: 10px;

			.old-price {
				font-size: 13px;
				color: $grey;
				text-decoration: line-through;
			}
		}
	}
}

.product-image {
	position: relative;

.product-menu {
		position: absolute;
		display: none;
		top: 7.5%;
		left: 7.5%;
		width: 85%;
		height: 85%;
		background: white;

		@extend %flex-center-items;
		@extend %flex-wrap;

		a {
			margin-bottom: 10px;
		}
	}
}

.product-image:hover {
	.product-menu {
		display: flex;
	}
}
	
.yellow::before {
	color: #fbaf5d;
}



//////// BLOG /////////

.blog {

	padding: 0 10px;
	@extend %responsiveWidth;
	@extend %box;
	display: flex;
	flex-wrap: wrap;

	h4 {
		text-align: center;
		font-family: $sBold;
		font-size: 18px;
		color: darken($grey, 22%);
		text-transform: uppercase;
		margin: 0 0 35px 0;
		width: 100%;
	}

	.blog-entries {
		max-width: 375px;
		margin: 0 auto;

		@include medium {
			display: flex;
			width: 100%;
			max-width: 100%;
			margin: 0;
		}

		.entry {
			width: 100%; 
			padding-bottom: 35px;
			@extend %box;

			@include medium {
				width: 50%;

			}

			h6 {
				a {
					font-size: 14px;
					color: darken($grey, 30%);
					font-family: $sRegular;

					@include medium {
						font-size: 18px;
					}

					&:hover {
						opacity: 0.7;
					}
				}
			}

			p {
				font-family: $sRegular;
				color: $grey;
				font-size: 11px;
			}
		}

		
		.entry-left {
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-end;
			text-align: right;

			@include medium {
				padding-right: 40px;
			}


			.line {
				width: 100%;
				height: 10px;
				position: relative;

				hr {
					position: absolute;
					right: 0;
					top: -2px;
					width: 40px;
					border: 0;
					height: 1px;
					background: black;
				}
			}
		}

		.entry-right {
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-start;
			text-align: left;

			@include medium {
				padding-left: 40px;
				border-left: 1px dotted $grey;
			}

			.line {
				width: 100%;
				height: 10px;
				position: relative;

				hr {
					position: absolute;
					left: 0;
					top: -2px;
					width: 40px;
					border: 0;
					height: 1px;
					background: black;
				}
			}
		}
	}

}

.blog-slider {
	position: relative;
	width: 100%;

	#slider-next-blog {
		position: absolute;
		top: 30%;
		right: 5%; 
		display: none;

		@include small {
			display: block;
		}
	}

	#slider-prev-blog {
		position: absolute;
		top: 30%;
		left: 5%; 
		display: none;

		@include small {
			display: block;
		}
	}

	#bx-pager {
		margin-top: 10px;
		ul {
			@extend %flex-center-item;
			li {
				a {
					margin: 0 2px;
					color: black;
					font-size: 22px;
				}

				a.active {
					color: red;
				}
			}		
		}
	}
}

.blog {
		&>hr:nth-of-type(1) {
			margin-top: 60px;
		}

		&>hr:nth-of-type(2) {
			margin: 8px 0 45px 0;
		}

		&>hr {
			@extend %responsiveWidth;
			border: 0;
		    height: 1px;
		    background: rgb(210,210,210); 
		}
}


///////////// FOOOTER ////////////////////

footer {
	padding: 0 10px;
	height: 185px;
	@extend %flex-center-items;	
	@extend %responsiveWidth;
	@extend %box;
	flex-wrap: wrap;

	.social-icons {
		@extend %flex-center-items;
		width: 100%;
		margin-bottom: 25px;
		i {

			&:hover {
				color: black;
				cursor: pointer;
			}

			color: $grey;
			font-size: 16px;
			padding: 0 10px;
		}
	}

	p {
		width: 100%;
		text-align: center;
		font-size: 14px;
		font-family: $sRegular;
	}

	p:nth-of-type(1) {
		margin-bottom: 12px;
	}
}