$rBold: Raleway-Bold;
$sRegular: RobotoSlab-Regular;
$triangle: 10px;
$fontColor: rgb(40,40,40);
$grey: rgb(124,124,124);
$lineHeight: 14px;


//Breakpoints
$small: 576px;
$medium: 768px;
$large: 992px;
$extralarge: 1200px;
$slider: 1240px;

@mixin small {
  @media (min-width: $small) {
    @content;
  }
}

@mixin medium {
  @media (min-width: $medium) {
    @content;
  }
}

@mixin large {
  @media (min-width: $large) {
    @content;
  }
}

@mixin extralarge {
  @media (min-width: $extralarge) {
    @content;
  }
}

@mixin slider {
  @media (min-width: $slider) {
    @content;
  }
}

@mixin calc($property, $expression) { 
  #{$property}: calc(#{$expression}); 
} 


%flex {
	display: flex;
}

%flex-center-item {
	display: flex;
	justify-content: center;
	align-items: center;
}

%flex-center-items {
	display: flex;
	justify-content: center;
	align-content: center;
}

%flex-wrap {
	flex-wrap: wrap;
}

%box {
    box-sizing: border-box;
}

%responsiveWidth {
	width: 100%;
	max-width: 1180px;
	margin: 0 auto;
}

@mixin triangle($sizeH, $sizeV, $color){
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    -moz-transform: scale(.9999);
    border-width: 0 0 $sizeH $sizeV;
    border-color: transparent transparent $color transparent;
}


///////// HEADER /////////
header {
	padding: 0 10px;
	@extend %responsiveWidth;
	@extend %box;
	margin-top: 30px;
	margin-bottom: 40px;

	hr:nth-of-type(1) {
		margin-top: 60px;
	}

	hr:nth-of-type(2) {
		margin: 5px 0 0 0;
	}

	hr {
		border: 0;
	    height: 1px;
	    background: rgb(210,210,210);
	}
}

.header-name {

	width: 290px;
	@extend %flex-center-items;

	.header-icon {

		position: relative;
		width: 50px;
		height: 50px;
		background-color: rgb(54,54,54);
		color: white;
		font-family: $rBold;
		font-size: 40px;
		@extend %flex-center-item;

		.triangle {
			position: absolute;
			left: 80%;
			top: 80%;
			@include triangle($triangle,$triangle,red);
		}
	}

	.header-title {

		width: 240px;
		height: 50px; 
		padding-left: 10px;
		@extend %flex-center-items;
		@extend %flex-wrap;
		@extend %box;

		h2 {
			font-family: $rBold;
			color: $fontColor;
			font-size: 21px;
			width: 100%;
			text-transform: uppercase;
		}

		p {
			font-family: $sRegular;
			font-size: 12px;
			color: $grey;
			width: 100%; 
		}
	}

}

.header-description {
	font-family: $sRegular;
	font-size: 24px;
	text-align: justify;
	max-width: 780px;
	padding-top: 20px;
	color: rgb(60,60,60);
	font-size: 15px;
	line-height: $lineHeight*1.2;

	@include small {
		font-size: 20px;
		line-height: $lineHeight*1.6;
	}

	@include medium {
		padding-top: 45px;
		font-size: 24px;
		line-height: $lineHeight*2.7;		
	}

}

.header-menu {
	width: 100%;
	margin-top: 10px;
	float: right;

	@extend %flex;
	justify-content: flex-end;
	align-items: center;

	ul {
		display:none;
		list-style-type: none;
		li {
			font-size: 10px;
			font-family: $sRegular;
			color: darken($fontColor, 20%);
			float: right;
			padding: 10px 5px;
			@extend %box;

			@include small {
				padding: 10px 10px;
				font-size: 12px;
			}

			@include medium {
				padding: 10px 22.5px;
				font-size: 14px;
			}

			&:hover {
				cursor: pointer;
				opacity: 0.6;
			}
		}
	}

	.fa-bars {
		font-size: 18px;
		padding: 12px;
		background-color: darken($fontColor, 20%);
		transform: scale(0.75, 0.75);

		&:hover {
			cursor: pointer;


		}

		@include small {
			transform: scale(1, 1);
		}
	}

}


///////// SLIDER ////////////

.main-slider {

	position: relative;
	padding: 0 10px;
	margin-bottom: 40px;
	@extend %responsiveWidth;
	@extend %box;

	#slider-next {
		position: absolute;
		top: 50%;
		right: 5%;

		@include small {
			right: 5%;
		}

		@include large {
			right: 2.5%;
		}

		@include slider {
			right: -1.5%;
		}

	}

	#slider-prev {
		position: absolute;
		top: 50%;
		left: 5%;

		@include small {
			left: 5%;
		}

		@include large {
			left: 2.5%;
		}

		@include slider {
			left: -1.5%;
		}

	}

}



